<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="100" *ngIf="dish" [@visibility]="visibility" [@expand]>    
    <mat-card >
      <mat-card-header>
        <mat-card-title>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ BaseURL + dish.image}}" alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
      <mat-card>
          <mat-card-header>
            <mat-card-title>
              <h3>Comments</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list >
                <mat-list-item *ngFor="let comment of dish.comments">
                            
                    <p matLine>
                      <span>{{comment.comment}}</span>
                    </p>
                    <p matLine>
                      <span>{{comment.rating}} Stars</span>
                    </p>
                    <p matLine>
                      <span>-- {{comment.author}} </span> <span> {{comment.date | date:'mediumDate' }} </span>
                    </p>
                    
                </mat-list-item>
                <mat-list-item *ngIf="commentForm.valid">
                  <p matLine>
                    <span>{{comment.comment}}</span>
                  </p>
                  <p matLine>
                    <span>{{comment.rating}} Stars</span>
                  </p>
                  <p matLine>
                    <span>-- {{comment.author}} </span>
                  </p>
                </mat-list-item>
            </mat-list>
            <div>          
              <form novalidate [formGroup]="commentForm" #fform="ngForm" (ngSubmit)="onSubmit()">
                <p>
                  <mat-form-field class="half-width">
                    <input matInput formControlName="author" placeholder="Name" type="text" required>
                    <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
                  </mat-form-field>
                </p>
                <p>                  
                  <mat-slider formControlName="rating" thumbLabel min="0" max="5" tickInterval="1"></mat-slider>
                  <mat-error *ngIf="formErrors.rating">{{formErrors.rating}}</mat-error>
                </p>
                <p>
                  <mat-form-field class="full-width">
                    <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
                    <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
                  </mat-form-field>
                </p>
                <button type="submit" [disabled]="!commentForm.valid" mat-button class="background-primary text-floral-white">Submit</button>
              </form>
            </div>
                  
          </mat-card-content>
      </mat-card>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>